:root{
  --max-width: 1172px;
  --light-blue: #f5f8fa;
  --color-blue: #3378ff;
}
section.pc{display: block;}
section.mo{display: none;}
br.mo{display: none;}
.bg__lightblue{
  background-color: var(--light-blue);
}
.container{
  max-width: var(--max-width);
  margin: 0 auto;
}
.container__flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
header.pc{
  width: 100vw;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: block;
}
header.mo{
  width: 100vw;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 9999;
  display: none;
}
.side.mo{display: none;}
.header__wrap{
  height: 80px;
  justify-content: flex-start;
}
.header__wrap img{
  width: 115px;
  height: 35px;
  margin-right: 225px;
}
.header__wrap a:hover{
  color: #3378ff;
}
.header__wrap a + a{
  margin-left: 64px;
}
.header__wrap .header__menu{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/icn-hamburger-menu.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header.mo .header__wrap{
  height: 56px;
  justify-content: space-between;
  padding: 0 16px;
}
header.mo .header__wrap img{
  width: 86px;
  height: 24px;
  margin-right: 0;
}
.section__01{
  max-height: 960px;
  justify-content: space-between;
}
.section__01 .container__left{
  flex-direction: column;
  align-items: flex-start;
}
.section__01 .container__left .left__title{
  font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
  font-size: 48px;
}
.section__01 .container__left .left__title b{
  font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
  font-size: 48px;
  color: var(--color-blue);
}
.section__01 .container__left .left__subtitle{
  font-size: 24px;
  padding-top: 16px;
  padding-bottom: 48px;
}
.section__01 .container__left .left__img{
  display: flex;
  justify-content: flex-start;
}
.section__01 .container__left .left__img a + a{
  margin-left: 16px;
}
.section__01 .container__left .left__img img{
  width: 172px;
}
.section__01 .container__right{
  width: 472px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-top: 120px;
}
.section__01 .container__right img{
  width: 100%;
  height: 760px;
}
.section__01 .container__right img.pc{display: block;}
.section__01 .container__right img.mo{display: none;}
.section__01 .download__mo{display: none;}
.section__02{
  max-height: 800px;
}
.container__img{
  padding: 120px 0;
}
.container__img img{
  height: 560px;
}
.container__img.img__left{
  margin-right: 120px;
}
.container__img.img__right{
  margin-left: 120px;
}
.container__text .container__title{
  font-size: 40px;
  font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
  padding-bottom: 32px;
}
.container__text .container__title b{
  font-size: 40px;
  font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
  color: var(--color-blue);
}
.container__text .container__subtitle{
  font-size: 18px;
}
.section__04{
  padding: 120px 0;
  flex-direction: column;
}
.section__04 .container__title{
  padding-bottom: 0;
}
.section__04 .container__subtitle{
  padding-top: 16px;
  padding-bottom: 54px;
  text-align: center;
}
.container__video{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__video .video__box{
  flex: 1;
  position: relative;
  padding-bottom: 27.5%;
  height: 0;
  overflow: hidden;
}
.container__video .video__box + .video__box{
  margin-left: 28px;
}
.container__video iframe,
.container__video object,
.container__video embed{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.section__05{
  padding: 120px 0;
  flex-direction: column;
}
.section__05 .container__title{
  padding-bottom: 54px;
}
.logo__container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__container .logo__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo__container .logo__item img{
  width: 172px;
  height: 172px;
  margin-bottom: 32px;
}
.logo__container .logo__item p{
  font-size: 18px;
  text-align: center;
}
.section__06{
  padding: 120px 0;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__container + .footer__container{margin-left: 160px;}
.footer__container p + p{
  margin-top: 8px;
}
.footer__container #footerApp:hover,
.footer__container p a:hover{
  color: #6e6e6e;
  text-decoration: underline;
  cursor: pointer;
}
.footer__container p a,
.footer__container span{
  color: #9fa5ab;
}
.footer__container p a + a::before,
.footer__container p span + span::before{
  content: '|';
  margin: 0 4px;
  color: #9fa5ab;
}
.footer__container .footer__title span{
  font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
}
.footer__container .footer__copy{
  margin-top: 48px;
}
.footer__container .footer__app{
  max-height: 0px;
  transition: max-height .3s ease;
  margin-top: 0;
  overflow: hidden;
}
.footer__container .footer__app br + a{
  display: inherit;
  margin-top: 8px;
}
.footer__container .footer__app.on{
  max-height: 200px;
  margin-top: 8px;
}
@media all and (max-width: 769px){
  header.pc{display: none;}
  header.mo{display: block;}
  section.pc{display: none;}
  section.mo{display: block;}
  br.mo{display: block;}
  setcion{width: 100%;}
  .container{max-width: 100%;}

  .container__text .container__title {
    font-size: 30px;
    font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
    padding-bottom: 32px;
  }
  .container__text .container__title b{
    font-size: 30px;
    font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
  }

  .side.mo{
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
  }
  .side.mo.on{opacity: 1; visibility: unset;}
  .side .side__bg{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .side .side__container{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 2;
    transition: all .5s ease;
    transform: translateX(100%);
  }
  .side .side__container.on{
    transform: translateX(0);
  }
  .side .side__container .close__box{
    display: flex;
    justify-content: flex-end;
    padding: 16px;
  }
  .side .side__container .side__close{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../img/icn-close.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .side .side__container a{
    padding-top: 32px;
    padding-left: 32px;
  }

  .section__01{
    max-height: 960px;
    justify-content: center;
    flex-direction: column;
    padding: 72px 0;
    position: relative;
  }
  .section__01 .container__left{
    flex-direction: column;
    align-items: center;
  }
  .section__01 .container__left .left__title{
    font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
    font-size: 32px;
    text-align: center;
  }
  .section__01 .container__left .left__title b{
    font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
    font-size: 32px;
    color: var(--color-blue);
    text-align: center;
  }
  .section__01 .container__left .left__subtitle{
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 32px;
    text-align: center;
  }
  .section__01 .container__left .left__img{
    display: none;
  }
  .section__01 .container__right{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }
  .section__01 .container__right img{
    width: auto;
    height: 500px;
  }
  .section__01 .container__right img.pc{display: none;}
  .section__01 .container__right img.mo{display: block;}

  .section__01 .download__mo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    background-color: #3378ff;
    cursor: pointer;
    position: absolute;
    right: 16px;
    bottom: 145px;
  }
  .section__01 .download__mo i{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../img/icn-download.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 4px;
  }
  .section__01 .download__mo span{
    font-size: 14px;
    text-align: center;
    color: #ffffff;
  }
  .section__02{
    flex-direction: column-reverse;
    padding: 72px 16px;
  }
  .section__02 .container__title{text-align: center;}
  .section__02 .container__subtitle{font-size: 14px; text-align: center;}
  .section__02 .container__img.img__left{
    margin: 0 auto;
    padding: 0;
    padding-top: 32px;
  }
  .section__02 .container__img img{
    height: 500px;
  }

  .section__03{
    flex-direction: column;
    padding: 72px 16px;
  }
  .section__03 .container__title{text-align: center;}
  .section__03 .container__subtitle{font-size: 14px; text-align: center;}
  .section__03 .container__img.img__right{
    margin: 0 auto;
    padding: 0;
    padding-top: 32px;
  }
  .section__03 .container__img img{
    height: 500px;
  }

  .section__04 .container__title{padding-bottom: 0;}
  .section__04 .container__subtitle{padding-bottom: 32px;}
  .section__04{
    padding: 72px 0;
  }
  .container__video{
    flex-direction: column;
    padding: 0 16px;
  }
  .container__video .video__box{
    flex: unset;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
  .container__video .video__box + .video__box{
    margin-left: 28px;
  }
  .container__video .video__box + .video__box{
    margin-left: 0;
    margin-top: 16.5px;
  }
  .container__video iframe,
  .container__video object,
  .container__video embed{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .section__05 {
    padding: 72px 0;
  }
  .section__05 .logo__container{
    flex-direction: column;
  }
  .section__05 .logo__container .logo__item + .logo__item{
    margin-top: 72px;
  }

  .section__06{
    padding: 78px 16px;
    flex-direction: column;
  }
  .footer__container + .footer__container{
    margin-top: 72px;
    margin-left: 0;
  }
  .footer__container p + p{
    margin-top: 16px;
  }
  .footer__container #footerApp:hover,
  .footer__container p a:hover{
    color: #6e6e6e;
    text-decoration: underline;
    cursor: pointer;
  }
  .footer__container p a,
  .footer__container span{
    font-size: 14px;
  }
  .footer__container p a + a::before,
  .footer__container p span + span::before{
    content: '|';
    margin: 0 4px;
    color: #9fa5ab;
    font-size: 14px;
  }
  .footer__container .footer__title span{
    font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
  }
  .footer__container .footer__copy{
    margin-top: 48px;
  }
  .footer__container .footer__app{
    max-height: 0px;
    transition: max-height .3s ease;
    margin-top: 0;
    overflow: hidden;
  }
  .footer__container .footer__app br + a{
    display: inherit;
    margin-top: 8px;
  }
  .footer__container .footer__app.on{
    max-height: 200px;
    margin-top: 8px;
  }
}